.big-text {
  position: absolute;
  top: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 70%;

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;

    margin: 0 auto;
    border: 1px solid black;
  }
}

.letter-l,
.letter-v,
.letter-e {
  position: absolute;
}

@keyframes letters {
  0% {
    transform: translate(0rem, 0rem);
    opacity: 0;
  }

  100% {
    transform: translate(0rem, -6%);
    opacity: 1;
  }
}

.letter-l {
  position: absolute;
  height: 300px;
  left: -24rem;
  top: -13.5rem;
  opacity: 0;
  animation: letters 1s ease-in-out 1.6s 1 normal forwards;
}

.heart {
  position: absolute;
  height: 20rem;
  fill: $red;
  left: -15rem;

  opacity: 0;

  animation: heart 1s ease-in-out 1.62s 1 normal forwards,
    blueHeart 0.15s steps(1) 3s 2 alternate forwards;
}

@keyframes heart {
  0% {
    transform: translate(0rem, 0rem);
    opacity: 0;
    z-index: 1;
  }

  50% {
    opacity: 1;
    z-index: 1;
  }

  100% {
    transform: translate(0rem, -5rem);
    opacity: 1;
    z-index: 1;
  }
}
