*,
*::before,
*::after {
  box-sizing: flex-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 2vw;
}

body {
  margin: 0;
  padding: 0;
}

//fonts
@font-face {
  font-family: "heroiccondensed";
  src: url("../assets/fonts/heroiccondensed-black-webfont.eot");
  src: url("../assets/fonts/heroiccondensed-black-webfont.woff") format("woff"),
    url("../assets/fonts/heroiccondensed-black-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "heroiccondensed";
  src: url("../assets/fonts/heroiccondensed-bold-webfont.eot");
  src: url("../assets/fonts/heroiccondensed-bold-webfont.woff") format("woff"),
    url("../assets/fonts/heroiccondensed-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "heroiccondensed";
  src: url("../assets/fonts/heroiccondensed-heavy-webfont.eot");
  src: url("../assets/fonts/heroiccondensed-heavy-webfont.woff") format("woff"),
    url("../assets/fonts/heroiccondensed-heavy-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "heroiccondensed";
  src: url("../assets/fonts/heroiccondensed-medium-webfont.eot");
  src: url("../assets/fonts/heroiccondensed-medium-webfont.woff") format("woff"),
    url("../assets/fonts/heroiccondensed-medium-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

//colors
$red: #ff1a3e;
$darkBlue: #012c5c;
$white: #fff;
$gray: #d7d9de;
$grayBlue: #9ba1b9;
