.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}

.hero-wrapper {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
  top: 20%;
  height: 27rem;

  @media screen and (max-width: 1025px) {
    width: 90%;
    top: 16%;
  }

  @media screen and (max-width: 855px) {
    width: 97%;
  }
}

.hero-bottom-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 10rem;
  margin-top: 1rem;
  object-fit: contain;
}

.left-content {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  justify-content: flex-start;
  opacity: 0;
  gap: 0.1rem;
  width: 21%;
  animation: appear 0.5s ease-in-out 0.8s 1 normal forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.left-content h2 {
  font-family: "heroiccondensed";
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  left: 0%;
  margin: 0;
  line-height: 1;
}
.spring {
  color: $darkBlue;
}

.t2017 {
  color: $red;
  padding-bottom: 20px;
}

.left-content h3 {
  font-family: "heroiccondensed";
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  left: 0%;
  margin: 0;
  color: $darkBlue;
  padding-bottom: 0.8rem;
}

.left-content p {
  font-size: 16px;
  font-weight: 400;
  color: $darkBlue;
}

.right-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 66%;
  justify-content: space-between;
}

/* love */
.hero-top-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  margin-top: 1.3rem;
}

.love {
  color: $red;
  display: flex;
  text-transform: uppercase;
  font-family: "heroiccondensed";
  align-items: flex-end;
  font-weight: 800;
  justify-content: left;
  left: -2%;
  width: 100%;
  margin-top: 3rem;
  line-height: 10rem;
}

.love span {
  font-size: 13rem;
  text-transform: uppercase;
  text-size-adjust: 100%;
}

.letter-l {
  opacity: 0;
  margin-right: 1rem;
  animation: appear 1s ease-in-out 1.6s 1 normal forwards;
  animation-delay: 0.2s;
}

.heart {
  width: 28%;
  height: 100%;
  margin-right: 2rem;
  fill: $red;
  opacity: 0;
  animation: heart 0.5s ease-in-out 1.62s 1 normal forwards,
    blueHeart 0.15s steps(1) 3s 2 alternate forwards,
    redHeart 0.16s steps(1) 5s 2 alternate forwards;

  @media screen and (max-width: 1025px) {
    width: 23%;
  }

  @media screen and (max-width: 855px) {
    width: 21%;
  }
}

@keyframes heart {
  0% {
    transform: translate(0, 0);
    opacity: 0;
    z-index: 1;
  }

  100% {
    transform: translate(0, -1%);
    opacity: 1;
    z-index: 1;
  }
}
@keyframes blueHeart {
  0% {
    opacity: 1;
    transform: translate(0, 0);
    color: $red;
  }

  33% {
    opacity: 1;
    transform: translate(1.27rem, 0rem);
    color: $darkBlue;
  }

  75% {
    opacity: 1;
    transform: translate(0rem, 0rem);
    color: $red;
  }

  100% {
    opacity: 1;
    transform: translate(1.25rem, 0rem);
    color: $darkBlue;
  }
}

@keyframes redHeart {
  0% {
    opacity: 1;
    transform: translate(0, 0);
    color: $red;
  }

  33% {
    opacity: 1;
    transform: translate(1.27rem, 0rem);
    color: $darkBlue;
  }

  75% {
    opacity: 1;
    transform: translate(0rem, 0rem);
    color: $red;
  }
}

.letter-v {
  opacity: 0;
  margin-right: 2.5rem;
  animation: appear 1s ease-in-out 1.4s 1 normal forwards;
  animation-delay: 0.4s;
}

.letter-e {
  opacity: 0;
  margin-right: 1.3rem;
  animation: appear 1s ease-in-out 1.6s 1 normal forwards;
  animation-delay: 0.5s;
}

.dot {
  opacity: 0;
  animation: appear 1s ease-in-out 1.8s 1 normal forwards;
  animation-delay: 0.6s;
}

@keyframes reveal {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* l.a. */
.right-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.right-content span {
  font-size: 13.5rem;
  font-family: "heroiccondensed";
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $red;
}

.letter-l2 {
  opacity: 0;
  margin-right: 1.5rem;
  animation: appear 1s ease-in-out 2s 1 normal forwards;
  animation-delay: 0.7s;
}

.dot2 {
  opacity: 0;
  margin-right: 1.3rem;
  animation: appear 1s ease-in-out 2.2s 1 normal forwards;
  animation-delay: 0.8s;
}

.letter-a {
  opacity: 0;
  margin-right: 1.3rem;
  animation: appear 1s ease-in-out 2.4s 1 normal forwards;
  animation-delay: 0.9s;
}

.dot3 {
  opacity: 0;
  animation: appear 1s ease-in-out 2.6s 1 normal forwards;
  animation-delay: 1s;
}

.white-top-box {
  width: 16%;
  height: 10rem;
  top: -6%;
  background-color: $white;
  position: absolute;
  right: -0.1%;
  animation: shrinkTop 0.7s ease-in-out 0.7s 1 normal forwards;
  overflow: hidden;
}

@keyframes shrinkTop {
  0% {
    width: 30%;
  }

  100% {
    width: 6%;
  }
}

.white-bottom-box {
  width: 6.5rem;
  height: 44.125rem;
  background-color: $white;
  position: absolute;
  right: -0.0625rem;
  top: 31%;
  animation: shrinkBottom 0.7s ease-in-out 0.7s 1 normal forwards;

  @keyframes shrinkBottom {
    0% {
      width: 6.25rem;
    }

    100% {
      width: 0%;
    }
  }
}
