.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 70%;
  margin-top: 2rem;
}

.hero {
  display: flex;
  min-width: 70%;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-bottom: 200px;

  &-text {
    max-width: 20%;
    font-size: 1.5rem;
    font-family: "heroiccondensed";
    font-weight: 800;
    flex: 1;
    letter-spacing: 3px;
    color: $darkBlue;
    line-height: 1.8rem;
    opacity: 0;
    animation: appear 0.5s ease-in-out 0.8s 1 normal forwards;

    @keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    &-bottom {
      position: absolute;
      width: 12.5rem;
      top: 25rem;
    }

    &-topText {
      position: absolute;
      top: 7rem;
      font-family: "heroiccondensed";
      font-size: 1.8rem;
      letter-spacing: 5px;
      font-weight: 800;
      color: $red;
      z-index: -2;
      animation: topText 1s ease-in-out 1.6s 1 normal forwards;

      @keyframes topText {
        0% {
          transform: translate(0rem, 0rem);
        }

        100% {
          transform: translate(0rem, -2rem);
        }
      }
    }

    &-spring {
      color: $darkBlue;
      line-height: 10px;
      font-size: 3rem;
      letter-spacing: 10px;
    }

    &-2017 {
      font-size: 3rem;
      color: $red;
      display: block;
      line-height: 40px;
      letter-spacing: 10px;
      padding-bottom: 1.875rem;
      margin-top: 0.3rem;
    }

    &-with {
      font-size: 1.5rem;
      font-weight: 900;
    }

    &-paragraph {
      font-family: "Arial";
      line-height: 1.12rem;
      font-size: 0.8rem;
      letter-spacing: 0.5px;
      font-weight: 400;
      width: 13rem;
      margin-bottom: 1.5rem;
      margin-top: 1.2rem;
    }
  }

  .hideTopText {
    position: absolute;
    top: 7rem;
    background-color: $white;
    width: 7.5rem;
    height: 2rem;
    z-index: 0;
  }

  &-mainImg {
    width: 75%;
    margin-left: 10%;
    opacity: 0;
    justify-self: right;
    animation: appear 0.5s ease-in-out 1s 1 normal forwards;
  }

  .whiteTop {
    width: 18rem;
    height: 25rem;
    background-color: $white;
    position: absolute;
    right: -0.0625rem;
    animation: shrinkTop 1s ease-in-out 1.1s 1 normal forwards;

    &::after {
      content: "";
      width: 12.5rem;
      height: 3.5rem;
      top: 21.3rem;
      background-color: $gray;
      position: absolute;
      opacity: 0;
      animation: graytop 1s ease-in-out 1.1s 1 normal forwards;
    }
  }

  .whiteBottom {
    width: 6.25rem;
    height: 44.125rem;
    background-color: $white;
    position: absolute;
    right: -0.0625rem;
    top: 25rem;
    animation: shrinkBottom 1s ease-in-out 1.1s 1 normal forwards;
  }
}
