.nav-bar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $darkBlue;
  background-color: $white;
  border-bottom: 1px solid $gray;
  z-index: 9999;

  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 75%;
  margin: 0 auto;

  @media screen and (max-width: 1025px) {
    transition: 0.8s all ease;
    width: 90%;
  }

  @media screen and (max-width: 855px) {
    transition: 0.8s all ease;
    width: 97%;
  }
}

.nav-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;

  @media screen and (max-width: 960px) {
    width: 150px;
  }

  @media screen and (max-width: 400px) {
    width: 120px;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.link-menu {
  font-size: 14px;
  margin-right: 35px;
  color: $darkBlue;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $red;
  }

  &::last-child {
    margin-right: 0;
  }
}

form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

input {
  width: 158px;
  height: 30px;
  border: 1px solid $gray;
  padding: 0 10px;
  font-size: 11px;
  outline: none;
  margin-right: 10px;

  @media screen and (max-width: 768px) {
    width: 130px;
  }

  @media screen and (max-width: 400px) {
    width: 110px;
    margin-right: 2px;
  }
}

.nav-bar-menu-icon {
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
    cursor: pointer;
    font-size: 20px;
  }
}

#hidden {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  padding-top: 2px;
  border-top: 1px solid $gray;
  z-index: 11;
  justify-content: center;
  top: 96px;
  padding-left: 5%;
  max-height: 210px;
  width: 20%;
  background-color: $white;

  a {
    font-size: 0.7rem;
    margin-top: 5px;
    &:last-of-type {
      margin-bottom: 2px;
    }
    &:not(:first-of-type) {
      border-top: 1px solid $gray;
      padding-top: 3px;
    }
  }
}
