.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
  margin: 0 auto;
  margin-top: -2%;
  margin-bottom: 5%;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
    width: 80%;
  }

  @media screen and (max-width: 600px) {
    transition: 0.8s all ease;
    width: 95%;
  }
}

.video-wrapper {
  display: flex;
  margin-left: 10%;
  min-width: 70%;
  align-items: flex-start;
  z-index: 1;

  @media screen and (max-width: 960px) {
    margin-left: 5%;
    width: 80%;
  }

  @media screen and (max-width: 768px) {
    margin-left: 2%;
    width: 97%;
  }
}
