*,
*::before,
*::after {
  box-sizing: flex-box;
  padding: 0;
}

html {
  font-size: 2vw;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "heroiccondensed";
  src: url("../assets/fonts/heroiccondensed-black-webfont.eot");
  src: url("../assets/fonts/heroiccondensed-black-webfont.woff") format("woff"), url("../assets/fonts/heroiccondensed-black-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "heroiccondensed";
  src: url("../assets/fonts/heroiccondensed-bold-webfont.eot");
  src: url("../assets/fonts/heroiccondensed-bold-webfont.woff") format("woff"), url("../assets/fonts/heroiccondensed-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "heroiccondensed";
  src: url("../assets/fonts/heroiccondensed-heavy-webfont.eot");
  src: url("../assets/fonts/heroiccondensed-heavy-webfont.woff") format("woff"), url("../assets/fonts/heroiccondensed-heavy-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "heroiccondensed";
  src: url("../assets/fonts/heroiccondensed-medium-webfont.eot");
  src: url("../assets/fonts/heroiccondensed-medium-webfont.woff") format("woff"), url("../assets/fonts/heroiccondensed-medium-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.nav-bar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #012c5c;
  background-color: #fff;
  border-bottom: 1px solid #d7d9de;
}
@media screen and (max-width: 960px) {
  .nav-bar {
    transition: 0.8s all ease;
  }
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 1025px) {
  .nav-bar-container {
    transition: 0.8s all ease;
    width: 90%;
  }
}
@media screen and (max-width: 855px) {
  .nav-bar-container {
    transition: 0.8s all ease;
    width: 97%;
  }
}

.nav-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
}
@media screen and (max-width: 960px) {
  .nav-logo {
    width: 150px;
  }
}
@media screen and (max-width: 400px) {
  .nav-logo {
    width: 120px;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}

.link-menu {
  font-size: 14px;
  margin-right: 35px;
  color: #012c5c;
  text-decoration: none;
  cursor: pointer;
}
.link-menu:hover {
  color: #ff1a3e;
}
.link-menu::last-child {
  margin-right: 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

input {
  width: 158px;
  height: 30px;
  border: 1px solid #d7d9de;
  padding: 0 10px;
  font-size: 11px;
  outline: none;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  input {
    width: 130px;
  }
}
@media screen and (max-width: 400px) {
  input {
    width: 110px;
    margin-right: 2px;
  }
}

.nav-bar-menu-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-bar-menu-icon {
    display: flex;
    cursor: pointer;
    font-size: 1.1rem;
  }
}

#hidden {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  padding-top: 2px;
  border-top: 1px solid #d7d9de;
  z-index: 1;
  justify-content: center;
  top: 96px;
  padding-left: 5%;
  max-height: 210px;
  width: 20%;
  background-color: #fff;
}
#hidden a {
  font-size: 0.7rem;
  margin-top: 5px;
}
#hidden a:last-of-type {
  margin-bottom: 2px;
}
#hidden a:not(:first-of-type) {
  border-top: 1px solid #d7d9de;
  padding-top: 3px;
}

.top-Nav {
  width: 100%;
  height: 35px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid #d7d9de;
}

.top-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 1025px) {
  .top-nav-wrapper {
    transition: 0.8s all ease;
    width: 90%;
  }
}
@media screen and (max-width: 855px) {
  .top-nav-wrapper {
    transition: 0.8s all ease;
    width: 97%;
  }
}

.left-ul {
  display: flex;
  align-items: center;
}

.left-li {
  list-style: none;
  margin-right: 10px;
  font-size: 11px;
  color: #012c5c;
}
.left-li:not(:nth-of-type(2)):not(:nth-of-type(4)) {
  cursor: pointer;
}
.left-li:hover:not(:nth-of-type(2)):not(:nth-of-type(4)) {
  color: #ff1a3e;
}
@media screen and (max-width: 840px) {
  .left-li:not(:nth-of-type(1)) {
    display: none;
  }
}

.center-top-nav {
  font-size: 13px;
  color: #012c5c;
  font-style: italic;
}
@media screen and (max-width: 460px) {
  .center-top-nav {
    display: none;
  }
}

.right-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-li {
  list-style: none;
  margin-left: 10px;
  font-size: 11px;
  color: #012c5c;
}
.right-li:not(:nth-of-type(2)):not(:nth-of-type(4)) {
  cursor: pointer;
}
.right-li:hover:not(:nth-of-type(2)):not(:nth-of-type(4)) {
  color: #ff1a3e;
}
.right-li:nth-of-type(4) {
  color: #9ba1b9;
  font-size: 18px;
}
@media screen and (max-width: 840px) {
  .right-li {
    display: none;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 70%;
  margin-top: 40px;
}
@media screen and (max-width: 1025px) {
  .hero-container {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    justify-content: center;
    width: 90%;
  }
}
@media screen and (max-width: 855px) {
  .hero-container {
    width: 97%;
  }
}
@media screen and (max-width: 768px) {
  .hero-container {
    margin-top: 1.5rem;
    margin-left: 2%;
  }
}

.hero {
  display: flex;
  min-width: 70%;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.hero-text {
  max-width: 40%;
  font-family: "heroiccondensed";
  font-weight: 800;
  left: -2%;
  height: 30%;
  color: #012c5c;
  opacity: 0;
  -webkit-animation: appear 0.5s ease-in-out 0.8s 1 normal forwards;
          animation: appear 0.5s ease-in-out 0.8s 1 normal forwards;
}
@media screen and (max-width: 768px) {
  .hero-text {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero-text-bottom {
  position: absolute;
  left: 0;
  width: 16%;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .hero-text-bottom {
    top: 30%;
    width: 25%;
  }
}
.hero-text-topText {
  position: absolute;
  top: 14%;
  font-family: "heroiccondensed";
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: 900;
  color: #ff1a3e;
  z-index: -2;
  -webkit-animation: topText 1s ease-in-out 1.6s 1 normal forwards;
          animation: topText 1s ease-in-out 1.6s 1 normal forwards;
}
@-webkit-keyframes topText {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(0rem, -1.2rem);
  }
}
@keyframes topText {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(0rem, -1.2rem);
  }
}
.hero-text-spring {
  color: #012c5c;
  line-height: 10px;
  font-size: 1.3rem;
  letter-spacing: 7px;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  .hero-text-spring {
    font-size: 1rem;
    letter-spacing: 5px;
    line-height: 0px;
  }
}
.hero-text-2017 {
  font-size: 1.3rem;
  color: #ff1a3e;
  display: block;
  line-height: 10px;
  letter-spacing: 7px;
  font-weight: 900;
}
.hero-text-with {
  font-size: 0.8rem;
  font-weight: 900;
  width: 100%;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .hero-text-with {
    font-size: 12px;
    line-height: 11px;
  }
}
.hero-text-paragraph {
  font-family: "Arial";
  font-size: 0.35rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  width: 100%;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .hero-text {
    top: 25%;
    font-size: 1rem !important;
  }
}
.hero .hideTopText {
  position: absolute;
  top: 14%;
  background-color: #fff;
  width: 7.5rem;
  height: 2rem;
  z-index: 0;
}
.hero-models-pic {
  width: 78%;
  margin-left: 10%;
  opacity: 0;
  justify-self: right;
  -webkit-animation: appear 0.5s ease-in-out 1s 1 normal forwards;
          animation: appear 0.5s ease-in-out 1s 1 normal forwards;
}
@media screen and (max-width: 768px) {
  .hero-models-pic {
    width: 70%;
  }
}
.hero .white-top-box {
  width: 14%;
  height: 40%;
  background-color: #fff;
  position: absolute;
  right: -0.1%;
  -webkit-animation: shrinkTop 0.7s ease-in-out 1s 1 normal forwards;
          animation: shrinkTop 0.7s ease-in-out 1s 1 normal forwards;
  overflow: hidden;
}
@-webkit-keyframes shrinkTop {
  0% {
    width: 30%;
  }
  100% {
    width: 6%;
  }
}
@keyframes shrinkTop {
  0% {
    width: 30%;
  }
  100% {
    width: 6%;
  }
}

.white-bottom-box {
  width: 6.25rem;
  height: 44.125rem;
  background-color: #fff;
  position: absolute;
  right: -0.0625rem;
  top: 25rem;
  -webkit-animation: shrinkBottom 1s ease-in-out 1.1s 1 normal forwards;
          animation: shrinkBottom 1s ease-in-out 1.1s 1 normal forwards;
}
@-webkit-keyframes shrinkBottom {
  0% {
    width: 6.25rem;
  }
  100% {
    width: 0%;
  }
}
@keyframes shrinkBottom {
  0% {
    width: 6.25rem;
  }
  100% {
    width: 0%;
  }
}

/* love l.a. title */
.letter-l {
  position: absolute;
  font-family: "heroiccondensed";
  font-size: 51vh;
  color: #ff1a3e;
  opacity: 0;
  left: -2%;
  top: -16.5%;
  -webkit-animation: letters 1s ease-in-out 1.6s 1 normal forwards;
          animation: letters 1s ease-in-out 1.6s 1 normal forwards;
}

@-webkit-keyframes letters {
  0% {
    transform: translate(0rem, 0rem);
    opacity: 0;
  }
  100% {
    transform: translate(0rem, -6%);
    opacity: 1;
  }
}

@keyframes letters {
  0% {
    transform: translate(0rem, 0rem);
    opacity: 0;
  }
  100% {
    transform: translate(0rem, -6%);
    opacity: 1;
  }
}
/* heart */
.heart {
  position: absolute;
  font-size: 47vh;
  color: #ff1a3e;
  left: 8%;
  top: 13.3%;
  opacity: 0;
  -webkit-animation: heart 1s ease-in-out 1.62s 1 normal forwards, blueHeart 0.15s steps(1) 3s 2 alternate forwards, redHeart 0.16s steps(1) 5s 2 alternate forwards;
          animation: heart 1s ease-in-out 1.62s 1 normal forwards, blueHeart 0.15s steps(1) 3s 2 alternate forwards, redHeart 0.16s steps(1) 5s 2 alternate forwards;
}

@-webkit-keyframes heart {
  0% {
    transform: translate(0, 0);
    opacity: 0;
    z-index: 1;
  }
  100% {
    transform: translate(0, -6.2%);
    opacity: 1;
    z-index: 1;
  }
}

@keyframes heart {
  0% {
    transform: translate(0, 0);
    opacity: 0;
    z-index: 1;
  }
  100% {
    transform: translate(0, -6.2%);
    opacity: 1;
    z-index: 1;
  }
}
@-webkit-keyframes blueHeart {
  0% {
    opacity: 1;
    transform: translate(0, 0);
    color: #ff1a3e;
  }
  33% {
    opacity: 1;
    transform: translate(1.27rem, 0rem);
    color: #012c5c;
  }
  75% {
    opacity: 1;
    transform: translate(0rem, 0rem);
    color: #ff1a3e;
  }
  100% {
    opacity: 1;
    transform: translate(1.25rem, 0rem);
    color: #012c5c;
  }
}
@keyframes blueHeart {
  0% {
    opacity: 1;
    transform: translate(0, 0);
    color: #ff1a3e;
  }
  33% {
    opacity: 1;
    transform: translate(1.27rem, 0rem);
    color: #012c5c;
  }
  75% {
    opacity: 1;
    transform: translate(0rem, 0rem);
    color: #ff1a3e;
  }
  100% {
    opacity: 1;
    transform: translate(1.25rem, 0rem);
    color: #012c5c;
  }
}
@-webkit-keyframes redHeart {
  0% {
    opacity: 1;
    transform: translate(0, 0);
    color: #ff1a3e;
  }
  33% {
    opacity: 1;
    transform: translate(1.27rem, 0rem);
    color: #012c5c;
  }
  75% {
    opacity: 1;
    transform: translate(0rem, 0rem);
    color: #ff1a3e;
  }
  100% {
    opacity: 1;
    transform: translate(1.25rem, 0rem);
    color: #012c5c;
  }
}
@keyframes redHeart {
  0% {
    opacity: 1;
    transform: translate(0, 0);
    color: #ff1a3e;
  }
  33% {
    opacity: 1;
    transform: translate(1.27rem, 0rem);
    color: #012c5c;
  }
  75% {
    opacity: 1;
    transform: translate(0rem, 0rem);
    color: #ff1a3e;
  }
  100% {
    opacity: 1;
    transform: translate(1.25rem, 0rem);
    color: #012c5c;
  }
}
.letter-v {
  position: absolute;
  font-family: "heroiccondensed";
  font-size: 51vh;
  color: #ff1a3e;
  opacity: 0;
  z-index: 1;
  left: 44%;
  top: -16.5%;
  -webkit-animation: letters 1s ease-in-out 1.7s 1 normal forwards;
          animation: letters 1s ease-in-out 1.7s 1 normal forwards;
}

.letter-e {
  position: absolute;
  font-family: "heroiccondensed";
  font-size: 51vh;
  color: #ff1a3e;
  opacity: 0;
  z-index: 1;
  left: 63%;
  top: -16.5%;
  -webkit-animation: letters 1s ease-in-out 1.66s 1 normal forwards;
          animation: letters 1s ease-in-out 1.66s 1 normal forwards;
}

.dot1 {
  position: absolute;
  font-family: "heroiccondensed";
  font-size: 51vh;
  color: #ff1a3e;
  opacity: 0;
  z-index: 1;
  left: 78%;
  top: -16.5%;
  -webkit-animation: letters 1s ease-in-out 1.68s 1 normal forwards;
          animation: letters 1s ease-in-out 1.68s 1 normal forwards;
}

.letter-l2 {
  position: absolute;
  font-family: "heroiccondensed";
  font-size: 51vh;
  color: #ff1a3e;
  opacity: 0;
  z-index: 1;
  left: 37%;
  top: 19.5%;
  opacity: 0;
  -webkit-animation: letters 1s ease-in-out 1.7s 1 normal forwards;
          animation: letters 1s ease-in-out 1.7s 1 normal forwards;
}

.dot2 {
  position: absolute;
  font-family: "heroiccondensed";
  font-size: 51vh;
  color: #ff1a3e;
  opacity: 0;
  z-index: 1;
  left: 50%;
  top: 19.5%;
  opacity: 0;
  -webkit-animation: letters 1s ease-in-out 1.72s 1 normal forwards;
          animation: letters 1s ease-in-out 1.72s 1 normal forwards;
}

.letter-a {
  position: absolute;
  font-family: "heroiccondensed";
  font-size: 51vh;
  color: #ff1a3e;
  opacity: 0;
  z-index: 1;
  left: 60%;
  top: 19.5%;
  opacity: 0;
  -webkit-animation: letters 1s ease-in-out 1.74s 1 normal forwards;
          animation: letters 1s ease-in-out 1.74s 1 normal forwards;
}

.dot3 {
  position: absolute;
  font-family: "heroiccondensed";
  font-size: 51vh;
  color: #ff1a3e;
  opacity: 0;
  z-index: 1;
  left: 75%;
  top: 19.5%;
  opacity: 0;
  -webkit-animation: letters 1s ease-in-out 1.76s 1 normal forwards;
          animation: letters 1s ease-in-out 1.76s 1 normal forwards;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  margin: 0 auto;
  margin-top: -2%;
  margin-bottom: 10%;
}
@media screen and (max-width: 960px) {
  .video-container {
    transition: 0.8s all ease;
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .video-container {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .video-container {
    transition: 0.8s all ease;
    width: 95%;
    margin-top: 2rem;
  }
}

.video-wrapper {
  display: flex;
  margin-left: 10%;
  min-width: 70%;
  align-items: flex-start;
  border: 1px solid #d7d9de;
}
@media screen and (max-width: 960px) {
  .video-wrapper {
    margin-left: 5%;
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .video-wrapper {
    margin-left: 2%;
    width: 97%;
  }
}/*# sourceMappingURL=Style.css.map */