*,
*::before,
*::after {
  box-sizing: flex-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 2vw;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "heroiccondensed";
  src: url("../assets/fonts/heroiccondensed-black-webfont.eot");
  src: url("../assets/fonts/heroiccondensed-black-webfont.woff") format("woff"), url("../assets/fonts/heroiccondensed-black-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "heroiccondensed";
  src: url("../assets/fonts/heroiccondensed-bold-webfont.eot");
  src: url("../assets/fonts/heroiccondensed-bold-webfont.woff") format("woff"), url("../assets/fonts/heroiccondensed-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "heroiccondensed";
  src: url("../assets/fonts/heroiccondensed-heavy-webfont.eot");
  src: url("../assets/fonts/heroiccondensed-heavy-webfont.woff") format("woff"), url("../assets/fonts/heroiccondensed-heavy-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "heroiccondensed";
  src: url("../assets/fonts/heroiccondensed-medium-webfont.eot");
  src: url("../assets/fonts/heroiccondensed-medium-webfont.woff") format("woff"), url("../assets/fonts/heroiccondensed-medium-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.nav-bar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #012c5c;
  background-color: #fff;
  border-bottom: 1px solid #d7d9de;
  z-index: 9999;
}
@media screen and (max-width: 960px) {
  .nav-bar {
    transition: 0.8s all ease;
  }
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 1025px) {
  .nav-bar-container {
    transition: 0.8s all ease;
    width: 90%;
  }
}
@media screen and (max-width: 855px) {
  .nav-bar-container {
    transition: 0.8s all ease;
    width: 97%;
  }
}

.nav-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
}
@media screen and (max-width: 960px) {
  .nav-logo {
    width: 150px;
  }
}
@media screen and (max-width: 400px) {
  .nav-logo {
    width: 120px;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}

.link-menu {
  font-size: 14px;
  margin-right: 35px;
  color: #012c5c;
  text-decoration: none;
  cursor: pointer;
}
.link-menu:hover {
  color: #ff1a3e;
}
.link-menu::last-child {
  margin-right: 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

input {
  width: 158px;
  height: 30px;
  border: 1px solid #d7d9de;
  padding: 0 10px;
  font-size: 11px;
  outline: none;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  input {
    width: 130px;
  }
}
@media screen and (max-width: 400px) {
  input {
    width: 110px;
    margin-right: 2px;
  }
}

.nav-bar-menu-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-bar-menu-icon {
    display: flex;
    cursor: pointer;
    font-size: 1.1rem;
  }
}

#hidden {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  padding-top: 2px;
  border-top: 1px solid #d7d9de;
  z-index: 1;
  justify-content: center;
  top: 96px;
  padding-left: 5%;
  max-height: 210px;
  width: 20%;
  background-color: #fff;
}
#hidden a {
  font-size: 0.7rem;
  margin-top: 5px;
}
#hidden a:last-of-type {
  margin-bottom: 2px;
}
#hidden a:not(:first-of-type) {
  border-top: 1px solid #d7d9de;
  padding-top: 3px;
}

.top-Nav {
  width: 100%;
  height: 35px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid #d7d9de;
}

.top-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 1025px) {
  .top-nav-wrapper {
    transition: 0.8s all ease;
    width: 90%;
  }
}
@media screen and (max-width: 855px) {
  .top-nav-wrapper {
    transition: 0.8s all ease;
    width: 97%;
  }
}

.left-ul {
  display: flex;
  align-items: center;
}

.left-li {
  list-style: none;
  margin-right: 10px;
  font-size: 11px;
  color: #012c5c;
}
.left-li:not(:nth-of-type(2)):not(:nth-of-type(4)) {
  cursor: pointer;
}
.left-li:hover:not(:nth-of-type(2)):not(:nth-of-type(4)) {
  color: #ff1a3e;
}
@media screen and (max-width: 840px) {
  .left-li:not(:nth-of-type(1)) {
    display: none;
  }
}

.center-top-nav {
  font-size: 13px;
  color: #012c5c;
  font-style: italic;
}
@media screen and (max-width: 460px) {
  .center-top-nav {
    display: none;
  }
}

.right-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-li {
  list-style: none;
  margin-left: 10px;
  font-size: 11px;
  color: #012c5c;
}
.right-li:not(:nth-of-type(2)):not(:nth-of-type(4)) {
  cursor: pointer;
}
.right-li:hover:not(:nth-of-type(2)):not(:nth-of-type(4)) {
  color: #ff1a3e;
}
.right-li:nth-of-type(4) {
  color: #9ba1b9;
  font-size: 18px;
}
@media screen and (max-width: 840px) {
  .right-li {
    display: none;
  }
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
  margin: 0 auto;
  margin-top: -2%;
  margin-bottom: 10%;
}
@media screen and (max-width: 960px) {
  .video-container {
    transition: 0.8s all ease;
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .video-container {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .video-container {
    transition: 0.8s all ease;
    width: 95%;
    margin-top: 2rem;
  }
}

.video-wrapper {
  display: flex;
  margin-left: 10%;
  min-width: 70%;
  align-items: flex-start;
  border: 1px solid #d7d9de;
}
@media screen and (max-width: 960px) {
  .video-wrapper {
    margin-left: 5%;
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .video-wrapper {
    margin-left: 2%;
    width: 97%;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.hero-wrapper {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
  top: 20%;
  height: 27rem;
}
@media screen and (max-width: 1025px) {
  .hero-wrapper {
    width: 90%;
    top: 16%;
  }
}
@media screen and (max-width: 855px) {
  .hero-wrapper {
    width: 97%;
  }
}

.hero-bottom-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 10rem;
  margin-top: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.left-content {
  display: flex;
  flex-direction: column;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: flex-start;
  gap: 0.1rem;
  width: 22%;
  -webkit-animation: appear 0.5s ease-in-out 0.8s 1 normal forwards;
          animation: appear 0.5s ease-in-out 0.8s 1 normal forwards;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.left-content h2 {
  font-family: "heroiccondensed";
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  left: 0%;
  margin: 0;
  line-height: 1;
}

.spring {
  color: #012c5c;
}

.t2017 {
  color: #ff1a3e;
  padding-bottom: 20px;
}

.left-content h3 {
  font-family: "heroiccondensed";
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  left: 0%;
  margin: 0;
  color: #012c5c;
  padding-bottom: 0.8rem;
}

.left-content p {
  font-size: 0.47rem;
  font-weight: 400;
  color: #012c5c;
}

.right-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 66%;
  justify-content: space-between;
}

/* love */
.hero-top-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  margin-top: 0.5rem;
}

.love {
  color: #ff1a3e;
  display: flex;
  text-transform: uppercase;
  font-family: "heroiccondensed";
  align-items: flex-end;
  font-weight: 800;
  justify-content: left;
  left: -2%;
  width: 100%;
  margin-top: 3rem;
  line-height: 10rem;
}

.love span {
  font-size: 13rem;
  text-transform: uppercase;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

.letter-l {
  opacity: 0;
  margin-right: 1rem;
  -webkit-animation: appear 1s ease-in-out 1.6s 1 normal forwards;
          animation: appear 1s ease-in-out 1.6s 1 normal forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.heart {
  width: 28%;
  height: 100%;
  margin-right: 2rem;
  fill: #ff1a3e;
  opacity: 0;
  -webkit-animation: heart 0.5s ease-in-out 1.62s 1 normal forwards, blueHeart 0.15s steps(1) 3s 2 alternate forwards, redHeart 0.16s steps(1) 5s 2 alternate forwards;
          animation: heart 0.5s ease-in-out 1.62s 1 normal forwards, blueHeart 0.15s steps(1) 3s 2 alternate forwards, redHeart 0.16s steps(1) 5s 2 alternate forwards;
}
@media screen and (max-width: 1025px) {
  .heart {
    width: 23%;
  }
}
@media screen and (max-width: 855px) {
  .heart {
    width: 21%;
  }
}

@-webkit-keyframes heart {
  0% {
    transform: translate(0, 0);
    opacity: 0;
    z-index: 1;
  }
  100% {
    transform: translate(0, -1%);
    opacity: 1;
    z-index: 1;
  }
}

@keyframes heart {
  0% {
    transform: translate(0, 0);
    opacity: 0;
    z-index: 1;
  }
  100% {
    transform: translate(0, -1%);
    opacity: 1;
    z-index: 1;
  }
}
@-webkit-keyframes blueHeart {
  0% {
    opacity: 1;
    transform: translate(0, 0);
    color: #ff1a3e;
  }
  33% {
    opacity: 1;
    transform: translate(1.27rem, 0rem);
    color: #012c5c;
  }
  75% {
    opacity: 1;
    transform: translate(0rem, 0rem);
    color: #ff1a3e;
  }
  100% {
    opacity: 1;
    transform: translate(1.25rem, 0rem);
    color: #012c5c;
  }
}
@keyframes blueHeart {
  0% {
    opacity: 1;
    transform: translate(0, 0);
    color: #ff1a3e;
  }
  33% {
    opacity: 1;
    transform: translate(1.27rem, 0rem);
    color: #012c5c;
  }
  75% {
    opacity: 1;
    transform: translate(0rem, 0rem);
    color: #ff1a3e;
  }
  100% {
    opacity: 1;
    transform: translate(1.25rem, 0rem);
    color: #012c5c;
  }
}
@-webkit-keyframes redHeart {
  0% {
    opacity: 1;
    transform: translate(0, 0);
    color: #ff1a3e;
  }
  33% {
    opacity: 1;
    transform: translate(1.27rem, 0rem);
    color: #012c5c;
  }
  75% {
    opacity: 1;
    transform: translate(0rem, 0rem);
    color: #ff1a3e;
  }
}
@keyframes redHeart {
  0% {
    opacity: 1;
    transform: translate(0, 0);
    color: #ff1a3e;
  }
  33% {
    opacity: 1;
    transform: translate(1.27rem, 0rem);
    color: #012c5c;
  }
  75% {
    opacity: 1;
    transform: translate(0rem, 0rem);
    color: #ff1a3e;
  }
}
.letter-v {
  opacity: 0;
  margin-right: 2.5rem;
  -webkit-animation: appear 1s ease-in-out 1.4s 1 normal forwards;
          animation: appear 1s ease-in-out 1.4s 1 normal forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.letter-e {
  opacity: 0;
  margin-right: 1.3rem;
  -webkit-animation: appear 1s ease-in-out 1.6s 1 normal forwards;
          animation: appear 1s ease-in-out 1.6s 1 normal forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.dot {
  opacity: 0;
  -webkit-animation: appear 1s ease-in-out 1.8s 1 normal forwards;
          animation: appear 1s ease-in-out 1.8s 1 normal forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes reveal {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* l.a. */
.right-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.right-content span {
  font-size: 13.5rem;
  font-family: "heroiccondensed";
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ff1a3e;
}

.letter-l2 {
  opacity: 0;
  margin-right: 1.5rem;
  -webkit-animation: appear 1s ease-in-out 2s 1 normal forwards;
          animation: appear 1s ease-in-out 2s 1 normal forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.dot2 {
  opacity: 0;
  margin-right: 1.3rem;
  -webkit-animation: appear 1s ease-in-out 2.2s 1 normal forwards;
          animation: appear 1s ease-in-out 2.2s 1 normal forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.letter-a {
  opacity: 0;
  margin-right: 1.3rem;
  -webkit-animation: appear 1s ease-in-out 2.4s 1 normal forwards;
          animation: appear 1s ease-in-out 2.4s 1 normal forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.dot3 {
  opacity: 0;
  -webkit-animation: appear 1s ease-in-out 2.6s 1 normal forwards;
          animation: appear 1s ease-in-out 2.6s 1 normal forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.white-top-box {
  width: 16%;
  height: 10rem;
  top: -6%;
  background-color: #fff;
  position: absolute;
  right: -0.1%;
  -webkit-animation: shrinkTop 0.7s ease-in-out 0.7s 1 normal forwards;
          animation: shrinkTop 0.7s ease-in-out 0.7s 1 normal forwards;
  overflow: hidden;
}

@-webkit-keyframes shrinkTop {
  0% {
    width: 30%;
  }
  100% {
    width: 6%;
  }
}

@keyframes shrinkTop {
  0% {
    width: 30%;
  }
  100% {
    width: 6%;
  }
}
.white-bottom-box {
  width: 6.5rem;
  height: 44.125rem;
  background-color: #fff;
  position: absolute;
  right: -0.0625rem;
  top: 8.7rem;
  -webkit-animation: shrinkBottom 0.7s ease-in-out 0.7s 1 normal forwards;
          animation: shrinkBottom 0.7s ease-in-out 0.7s 1 normal forwards;
}
@-webkit-keyframes shrinkBottom {
  0% {
    width: 6.25rem;
  }
  100% {
    width: 0%;
  }
}
@keyframes shrinkBottom {
  0% {
    width: 6.25rem;
  }
  100% {
    width: 0%;
  }
}

.hero-image {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  width: 75%;
  margin-top: 1rem;
}
@media screen and (max-width: 1025px) {
  .hero-image {
    width: 90%;
  }
}
@media screen and (max-width: 855px) {
  .hero-image {
    width: 97%;
  }
}

.hero-image h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ff1a3e;
  text-align: left;
  margin-top: 2.6rem;
  text-transform: uppercase;
  font-family: "heroiccondensed";
  font-weight: 800;
  letter-spacing: 2px;
  transform: translateY(100%);
  -webkit-animation: reveal 1.7s cubic-bezier(1, 0, 0.3, 0.9) forwards;
          animation: reveal 1.7s cubic-bezier(1, 0, 0.3, 0.9) forwards;
}
@keyframes reveal {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-image img {
  width: 75%;
  height: auto;
}/*# sourceMappingURL=Style.css.map */